.booking-container {
    display: flex; /* Use flexbox for side-by-side layout */
    justify-content: space-between; /* Space between elements */
    align-items: flex-start; /* Align items to the top */
    width: 1200px;
    margin: 0 auto; /* Center container */
    background-color: #f1f1f1; /* Unified background color */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding for the entire container */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.booking-info, .booking-form-container {
    flex: 1; /* Make both containers flexible */
    margin: 10px; /* Add margin around both sections */
    background-color: #ffffff; /* White background for both sections */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding for the content */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.seat-selection {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px;
    justify-content: center; /* Center the grid */
    align-items: center; /* Center the grid vertically */
    padding: 40px; /* Add padding for better layout */
    border-radius: 5px; /* Rounded corners for seat selection */
}

.seat {
    padding: 10px 15px;
    background-color: #f1c40f; /* Color for available seats */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center; /* Center text */
}

.seat.selected {
    background-color: #76c7c0; /* Color for selected seats */
}

.seat.booked {
    background-color: #fc0e0e; /* Color for unavailable seats */
    cursor: not-allowed; /* Change cursor */
    opacity: 0.6; /* Make it slightly transparent */
}

form {
    width: 100%; /* Use full width */
    height: auto; /* Auto height */
    padding:20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 500px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5555551e;
}
