.seat-selection {
    margin: 20px 0;
    background-color: black; 
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px;
    justify-content: center; /* Centrerar rutnätet horisontellt */
    align-items: center; /* Centrerar rutnätet vertikalt */
}

.seat {
    padding: 10px 15px;
    background-color: #f1c40f; /* Färg för lediga platser */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center; /* Centrera texten */
}

.seat.selected {
    background-color: #76c7c0; /* Färg för valda platser */
}

.seat.booked {
    background-color: #fc0e0e; /* Färg för otillgängliga platser */
    cursor: not-allowed; /* Ändra muspekaren */
    opacity: 0.6; /* Gör den lite genomskinlig */
}
